torch>=2.1.0
transformers>=4.38.0
opencv-python>=4.9.0.80
pillow>=10.2.0
numpy>=1.26.0
pyspellchecker>=0.8.0
symspellpy>=6.7.7
protobuf==4.25.3
jiwer>=3.0.3
accelerate>=0.27.0
datasets>=2.18.0
albumentations>=1.4.0
scikit-learn>=1.4.0
sentencepiece>=0.2.0
